/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.local
.env.*.local
.phpunit.result.cache
dist/
.DS_Store
*.pem
.idea/
.vscode/
*.swp
*.swo
*~
.env.*.php
.DS_Store
